<div class="alert alert-info alert-dismissible alert-event" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="container">
        <div class="media">
            <a href="https://www.apache.org/events/current-event.html" class="pull-right">
                <img class="media-object" src="https://www.apache.org/events/current-event-234x60.png" alt="Next Apache event">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Apache events</h4>
                <p>Apache runs events all around the world. Want to know more? Just click on the image <i class="fa fa-fw fa-arrow-right"></i></p>
            </div>
        </div>
    </div>
</div>