<footer class="container">
    <div class="row">
        <div class="col-md-9">
            <p>Apache Brooklyn is distributed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <a class="btn btn-sm btn-default" href="https://github.com/apache/brooklyn-docs/edit/master/{{ page.path }}">Edit This Page</a>
                <a href="{{ site.url_root }}{{ site.path.website }}/community/how-to-contribute-docs.html"
                    data-toggle="tooltip" data-placement="top" title="" data-delay="400" data-original-title="How to Edit Documentation">
                    <span class="octicon octicon-question octicon-footer"></span>
                </a>
            </p>
        </div>
    </div>
</footer>
