/* Fix the bootstrap parts so they show the content not the controls*/
.nav.nav-tabs{
  display: none;
}
.tab-content > .tab-pane {
  display: inline;
}
.fade {
  opacity: 1;
}
#next, *[id$='_next']{
  display: none;
}
.collapse {
  display: block;
}
.section-breaker {
  page-break-before:always;
}
.panel-heading{
  padding-bottom: 15px;
}
/* The styled bootstrap panels */
.panel-body, .panel-default{
  background: none;
  border: 0px solid #fff !important;
  box-shadow: none;
  padding: 0px;
}
.panel-default > .panel-heading{
  background: none;
  border: 0px solid #fff !important;
  box-shadow: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
pre, pre code{
  overflow: auto;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre {
	font-family: "Lucida Console", Monaco, monospace;
}
.goToTop{
  padding-right: 25px;
  padding-top: 75px;
  float: right;
  font-size: 20pt;
  font-weight: bold;
}
.page .content h1{
  display: inline-block;
  width: 90%;
}
.jumobotron.annotated_blueprint{
	display: none;
}
.usermanual-pdf-include{
	display: inline !important;
}
.usermanual-pdf-exclude{
	display: none !important;
}