---
---
<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - Apache Brooklyn</title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<link href=".{{site.path.style | prepend: site.baseurl}}/deps/bootstrap.min.css" rel="stylesheet">
<link href=".{{site.path.style | prepend: site.baseurl}}/deps/octicons/octicons.css" rel="stylesheet">
<link href=".{{site.path.style | prepend: site.baseurl}}/deps/bootstrap-theme.css" rel="stylesheet">

<link href=".{{site.path.style | prepend: site.baseurl}}/css/website.css" rel="stylesheet">
<link rel="stylesheet" href=".{{ site.path.style | prepend: site.baseurl }}/css/singlePage.css" type="text/css" media="screen" />
<style>.{{ page.css_hide_class }}{ display: none; } .{{ page.css_show_class }}{ display: inline !important; visibility: visible !important; }</style>
<script>
[]
.forEach
.call(document.querySelectorAll('a[target="_blank"]'),
 function(link) {
  link.removeAttribute('target');
});
</script>
</head>

<body>

{{ content }}

</body>
</html>